
<!doctype html>
<html lang="es-en">

<head>
  <title>App Flask - Registro</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/frontend/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/frontend/static/css/styles.css">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/frontend/css/new.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
  integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-activate">
    <div class="container">
      <a class="navbar-brand" href="#">Flask App</a>
      <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" href="/login" aria-current="page">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#" aria-current="page">About</a>
            </li>
          </ul>
      </div>
</div>
</nav>

   <div class="container">
    <div class="row">
        <div class="col-md-4">
           
        </div>
        <div class="col-md-4">
           
          <div class="card">
            <div class="card-header">
              <div class="mb text-center text-activate">
                Registro
              </div>
            </div>
            <div class="card-body">

                <form action="/register" method="POST" class="needs-validation" novalidate>
                 <div class="mb-3">
                   <label for="txtName" class="form-label">Usuario</label>
                   <input type="text" class="form-control" name="txtName" id="txtName" required aria-describedby="helpId" placeholder="  &#xF4DA; Escribe tu Usuario">
                   <div class="invalid-feedback">
                      Debes de Rellenar este campo
                   </div>
                 </div>

                <div class="mb-3">
                  <label for="txtCorreo" class="form-label"><i class="bi bi-envelope"> Correo</i></label>
                  <input type="email"  class="form-control" name="txtCorreo" id="txtCorreo" required aria-describedby="helpId" placeholder="Escribe un Correo">         
                  <div class="invalid-feedback">
                    Debes de Rellenar este campo
                 </div>     
                </div>

                <div class="mb-3">
                  <label for="txtPassword" class="form-label"><i class="bi bi-keyboard"> Contraseña</i></label>
                  <input type="password" class="form-control" name="txtPassword" id="txtPassword" required aria-describedby="helpId" placeholder="Escribe una contraseña">     
                  <div class="invalid-feedback">
                    Debes de Rellenar este campo
                 </div>         
                </div>
                
                <div class="mb-1 text-center">
                  <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-box-arrow-in-right"> Registrarse</i></button>
                </div>

                   <div clasS="mb-1 text-center">
                  <span>Tienes cuenta? <a href="/register">Inicia Sesion</a></span>
                 </div>
                </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            
        </div>
        
    </div>
   </div>
<script src="/frontend/static/js/validate.js"></script>
</body>

</html>

